<ul>
{ifset $content->tag->documents}
    {foreach $content->tag->documents as $document}
        <li>
            <a href="{$basePath}{$document->file}">{$document->name}</a> - {$document->description} (naposledy
            upraveno {$document->timestamp|date:"d.m.Y"})
        </li>
    {/foreach}
    {else}
    {foreach $documents as $document}
        <li>
            <a href="{$basePath}{$document->file}">{$document->name}</a> - {$document->description} (naposledy
            upraveno {$document->timestamp|date:"d.m.Y"})
        </li>
    {/foreach}
{/ifset}
</ul>



