<ul>
{foreach $pages as $page}
    {if $page->slug == '/'}
        <li><a class="button homepage item-{$iterator->getCounter()}"
               href="{plink :Front:page:default}">{$page->name}</a></li>
        {else}
        {if $page->isAllowedToRole($user->roles[0])}
            <li><a class="button {$page->slug} item-{$iterator->getCounter()}"
                   href="{plink :Front:page:default, 'pageId' => $page->id}">{$page->name}</a></li>
        {/if}

    {/if}
{/foreach}
</ul>